// Réglages généraux
:root {
  --Primary-Color: #;
  --Secondary-Color: #;
  --Tertiary-Color: #;
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit
}

html,
body,
p,
ul,
ol,
li,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}

html {
  box-sizing: border-box;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none
}

button,
input {
  margin: 0
}

p,
li {
  font-size: 1.7rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

li {
  display: inline;
}
main {
  padding-bottom: 5rem;
  min-height: 100%;
}
.mainWrapper {
  margin-bottom: -5rem;
}
// Imports
@import 'elements/header';
@import 'elements/cart';
@import 'elements/products';
@import 'elements/singleProduct';
@import 'elements/footer';
@import 'elements/confirmation';