footer {
  background-color: var(--Light-Color);
  background-image: linear-gradient(190deg, #a5a4cb 0%, #d5d0e5 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  bottom: 0;
  color: var(--Dark-Color);

  ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
  }

  li {
    align-self: center;
  }

  .socialIcons {
    font-size: 3rem;
    display: flex;
    column-gap: 0.5rem;
  }

  a:hover {
    color: var(--Light-Color);
  }
}