footer {
  background-color: #f3e6e8;
  background-image: linear-gradient(190deg, #a5a4cb 0%, #d5d0e5 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  bottom: 0;
  color: #2d2c2c;
  ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 80%;
  }
}