<footer>
  <ul>
    <li>
      <a href="#termsOfUse" target="_blank" rel="noopener noreferrer"> Conditions d'utilisation</a>
    </li>
    <li>
      <div class="socialIcons">
        <a href="https://www.facebook.com/TeddyBears4U" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/giantteddy" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a href="https://www.pinterest.fr/search/pins/?q=teddy%20bears&rs=typed&term_meta[]=teddy%7Ctyped&term_meta[]=bears%7Ctyped"
          target="_blank" rel="noopener noreferrer">
          <i class="fab fa-pinterest-square"></i>
        </a>
        <a href="https://www.instagram.com/explore/tags/teddybear/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram-square"></i>
        </a>
      </div>
    </li>
    <li>
      <a href="#legalNotice" target="_blank" rel="noopener noreferrer">Mentions légales</a>
    </li>
  </ul>
</footer>