<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orinounours</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
  crossorigin="anonymous" />
  <!-- pages -->
  <script src="js/pages/home.js"></script>
  <%- include("../partials/scripts.html"); %>

</head>
<body class="body">
  <%- include("../partials/header.html"); %>
  <a href="./panier.html">panier</a>
  <a href="./produit.html">produit</a>
  <a href="./confirmation.html">confirmation</a>
  <main>
    <h2>Trouvez l'ours de vos rêves</h2>
    <p class="heading">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, voluptatibus nulla nobis aperiam, vitae facilis incidunt enim blanditiis quibusdam illum odio. Iure ullam obcaecati eaque velit, eius maiores quos ipsum.
      Sapiente at maiores qui. 
    </p>
    <article class="teddyCard">
      <figure>
        <img src="./images/teddy_1.jpg" alt="Premier ours">
        <figcaption>
          <h3>Ours1</h3>
          <span class="price">35,50€</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus enim suscipit optio at quo! Ab, vel aspernatur. Maiores alias rerum harum earum dignissimos, enim vel voluptatem aliquam sint, repellendus saepe!
          </p>
          <input class="addButton" type="button" value="Ajouter au panier">
        </figcaption>
      </figure>
    </article>
    <article class="teddyCard">
      <figure>
        <img src="./images/teddy_2.jpg" alt="Premier ours">
        <figcaption>
          <h3>Ours2</h3>
          <span class="price">39,50€</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus enim suscipit optio at quo! Ab, vel aspernatur. Maiores alias rerum harum earum dignissimos, enim vel voluptatem aliquam sint, repellendus saepe!
          </p>
          <input class="addButton" type="button" value="Ajouter au panier">
        </figcaption>
      </figure>
    </article>
    <article class="teddyCard">
      <figure>
        <img src="./images/teddy_3.jpg" alt="Premier ours">
        <figcaption>
          <h3>Ours3</h3>
          <span class="price">42,50€</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus enim suscipit optio at quo! Ab, vel aspernatur. Maiores alias rerum harum earum dignissimos, enim vel voluptatem aliquam sint, repellendus saepe!
          </p>
          <input class="addButton" type="button" value="Ajouter au panier">
        </figcaption>
      </figure>
    </article>
    <article class="teddyCard">
      <figure>
        <img src="./images/teddy_4.jpg" alt="Premier ours">
        <figcaption>
          <h3>Ours4</h3>
          <span class="price">32,00€</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus enim suscipit optio at quo! Ab, vel aspernatur. Maiores alias rerum harum earum dignissimos, enim vel voluptatem aliquam sint, repellendus saepe!
          </p>
          <input class="addButton" type="button" value="Ajouter au panier">
        </figcaption>
      </figure>
    </article>
    <article class="teddyCard">
      <figure>
        <img src="./images/teddy_5.jpg" alt="Premier ours">
        <figcaption>
          <h3>Ours5</h3>
          <span class="price">28,50€</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus enim suscipit optio at quo! Ab, vel aspernatur. Maiores alias rerum harum earum dignissimos, enim vel voluptatem aliquam sint, repellendus saepe!
          </p>
          <input class="addButton" type="button" value="Ajouter au panier">
        </figcaption>
      </figure>
    </article>
  </main>
  <%- include("../partials/footer.html"); %>
</body>
</html>