<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orinounours</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
  crossorigin="anonymous" />
  <!-- pages -->
  <script src="js/pages/home.js"></script>
  <%- include("../partials/scripts.html"); %>

</head>
<body class="body">
  <%- include("../partials/header.html"); %>
  <main class="indexMain">
    <h2>Trouvez l'ours de vos rêves</h2>
    <p class="heading">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <article class="teddyCard">
      <a href="./produit.html">
        <figure>
          <img src="http://localhost:3000/images/teddy_1.jpg" alt="Premier ours">
          <figcaption>
            <h3>Norbert</h3>
            <span class="displayColor">
              <i class="fas fa-circle tanColor"></i>
              <i class="fas fa-circle chocolateColor"></i>
              <i class="fas fa-circle blackColor"></i>
              <i class="fas fa-circle whiteColor"></i>
            </span>
            <span class="price">29,00€</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <input class="addButton" type="button" value="Ajouter au panier">
          </figcaption>
        </figure>
      </a>
    </article>
    <article class="teddyCard">
      <a href="./produit.html">
        <figure>
          <img src="http://localhost:3000/images/teddy_2.jpg" alt="Deuxième ours">
          <figcaption>
            <h3>Arnold</h3>
            <span class="displayColor">
              <i class="fas fa-circle paleBrownColor"></i>
              <i class="fas fa-circle darkBrownColor"></i>
              <i class="fas fa-circle whiteColor"></i>
            </span>
            <span class="price">39,00€</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <input class="addButton" type="button" value="Ajouter au panier">
          </figcaption>
        </figure>
      </a>
    </article>
    <article class="teddyCard">
      <a href="./produit.html">
        <figure>
          <img src="http://localhost:3000/images/teddy_3.jpg" alt="Troisième ours">
          <figcaption>
            <h3>Lenny and Carl</h3>
            <span class="displayColor">
              <i class="fas fa-circle brownColor"></i>
            </span>
            <span class="price">59,00€</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <input class="addButton" type="button" value="Ajouter au panier">
          </figcaption>
        </figure>
      </a>
    </article>
    <article class="teddyCard">
      <a href="./produit.html">
        <figure>
          <img src="http://localhost:3000/images/teddy_4.jpg" alt="Quatrième ours">
          <figcaption>
            <h3>Gustav</h3>
            <span class="displayColor">
              <i class="fas fa-circle brownColor"></i>
              <i class="fas fa-circle blueColor"></i>
              <i class="fas fa-circle pinkColor"></i>
            </span>
            <span class="price">45,00€</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <input class="addButton" type="button" value="Ajouter au panier">
          </figcaption>
        </figure>
      </a>
    </article>
    <article class="teddyCard">
      <a href="./produit.html">
        <figure>
          <img src="http://localhost:3000/images/teddy_5.jpg" alt="Cinquième ours">
          <figcaption>
            <h3>Garfunkel</h3>
            <span class="displayColor">
              <i class="fas fa-circle beigeColor"></i>
              <i class="fas fa-circle tanColor"></i>
              <i class="fas fa-circle chocolateColor"></i>
            </span>
            <span class="price">55,00€</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <input class="addButton" type="button" value="Ajouter au panier">
          </figcaption>
        </figure>
      </a>
    </article>
  </main>
  <%- include("../partials/footer.html"); %>
</body>
</html>