<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue d'ensemble du panier</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"

  <!-- pages -->
  <script src="js/pages/home.js"></script>
  <%- include("../partials/scripts.html"); %>
</head>
<body>
  <%- include("../partials/header.html"); %>
  <main class="mainCart">
    <table class="cartSummary">
      <tbody>
          <tr>
            <td>
              <img src="http://localhost:3000/images/teddy_1.jpg" alt="Premier ours">
            </td>
            <td class="middleRow">
              <h2>Norbert</h2>
            </td>
            <td>
              <span>quantité : 2</span>
            </td>
            <td>
              <p>total : 58,00€</p>
            </td>
            <td>
            <i class="fas fa-trash-alt trashIcon"></i>
            </td>
          </tr>
          <tr>
            <td>
              <img src="http://localhost:3000/images/teddy_5.jpg" alt="Premier ours">
            </td>
            <td class="middleRow">
              <h2>Garfunkel</h2>
            </td>
            <td>
              <span>quantité : 1</span>
            </td>
            <td>
              <p>total : 55,00€</p>
            </td>
            <td>
            <i class="fas fa-trash-alt trashIcon"></i>
            </td>
          </tr>
        </tbody>
    </table>
    <form class="form">
      <label for="lastname">Nom de famille</label>
      <input type="text" name="lastname" placeholder="Dupont">
      <label for="firstname">Prénom</label>
      <input type="text" name="firstname" placeholder="Jean">
      <label for="email">Adresse de messagerie</label>
      <input type="email" name="email"placeholder="JeanDupont@gmail.com">
      <label for="adress">Adresse</label>
      <input type="text" name="adress" placeholder="5 rue dupont Napoléon">
      <label for="postalCode">Code postal</label>
      <input type="text" name="postalCode" placeholder="75000">
      <label for="town">Ville</label>
      <input type="text" name="town" placeholder="Paris" class="lastInput">
      <div class="test">
        <a href="./confirmation.html">
          <i class="fas fa-shopping-cart cartBtn"></i>
          <input class="formBtn" type="button" value="Passer commande">
        </a>
      </div>
    </form>
  </main>
  <%- include("../partials/footer.html"); %>
</body>
</html>