<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue d'ensemble du panier | Orinounours</title>
  <link rel="icon" type="image/png" href=".\images\favicon.png">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" <!-- pages
    -->
  <script src="js/pages/product.js"></script>
  <%- include("../partials/scripts.html"); %>
</head>

<body>
  <%- include("../partials/header.html"); %>
  <main class="mainCart">
    <h1>Vue d'ensemble de vos achats</h1>
    <p>
      Parcourez en détail les produits que vous avez sélectionnés sur notre site. Pour finaliser votre commande, merci
      de remplir le formulaire ci-dessous.
    </p>
    <h2>Récapitulatif de votre panier</h2>
    <table class="cartSummary">
      <tbody>
        <tr>
          <td>
            <img src="http://localhost:3000/images/teddy_1.jpg" alt="Premier ours">
          </td>
          <td>
            <h3>Norbert</h3>
          </td>
          <td>
            <div class="setQty">
              <div class="minusBtn">
                <i class="fas fa-minus"></i>
              </div>
              <input type="number" class="field">
              <div class="plusBtn">
                <i class="fas fa-plus"></i>
              </div>
            </div>
          </td>
          <td>
            <p>total = 58,00€</p>
          </td>
          <td>
            <i class="fas fa-trash-alt trashIcon"></i>
          </td>
        </tr>
        <tr>
          <td>
            <img src="http://localhost:3000/images/teddy_5.jpg" alt="Premier ours">
          </td>
          <td class="middleRow">
            <h3>Garfunkel</h3>
          </td>
          <td>
            <div class="setQty">
              <div class="minusBtn">
                <i class="fas fa-minus"></i>
              </div>
              <input type="number" class="field">
              <div class="plusBtn">
                <i class="fas fa-plus"></i>
              </div>
            </div>
          </td>
          <td>
            <p>total = 55,00€</p>
          </td>
          <td>
            <i class="fas fa-trash-alt trashIcon"></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="totalCart">
            <p>Total du panier = 113,00€</p>
          </td>
        </tr>
      </tfoot>
    </table>
    <h2>Formulaire de commande</h2>
    <form class="form">
      <label for="lastname">Nom de famille</label>
      <input type="text" name="lastname" placeholder="Dupont">
      <label for="firstname">Prénom</label>
      <input type="text" name="firstname" placeholder="Jean">
      <label for="email">Adresse de messagerie</label>
      <input type="email" name="email" placeholder="JeanDupont@gmail.com">
      <label for="adress">Adresse</label>
      <input type="text" name="adress" placeholder="5 rue dupont Napoléon">
      <label for="postalCode">Code postal</label>
      <input type="text" name="postalCode" placeholder="75000">
      <label for="town">Ville</label>
      <input type="text" name="town" placeholder="Paris" class="lastInput">
      <div class="orderBtn">
        <a href="./confirmation.html">
          <i class="fas fa-shopping-cart cartBtn"></i>
          <input class="formBtn" type="button" value="Passer commande">
        </a>
      </div>
    </form>
  </main>
  <%- include("../partials/footer.html"); %>
</body>

</html>