<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page du produit</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"

  <!-- pages -->
  <script src="js/pages/home.js"></script>
  <%- include("../partials/scripts.html"); %>
</head>
<body>
  <%- include("../partials/header.html"); %>
  <main class="productMain mainWrapper">
    <h2>Coup d'oeil sur</h2>
    <p class="heading">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi et reprehenderit eaque nostrum magnam, praesentium quo eum iure doloremque. Quibusdam ullam cupiditate sit consectetur tempore quasi quod. Placeat eos est veritatis, quia, laboriosam nulla dicta nobis, aut cum nam ipsum fugit distinctio sed eligendi assumenda impedit aspernatur non sit sint.
    </p>
    <article class="singleProduct">
      <figure>
        <img src="http://localhost:3000/images/teddy_1.jpg" alt="Ours en peluche marron">
      </figure>
      <section>
        <h2>Norbert</h2>
        <span class="price">29,00€</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="customize">
          <div class="displayColors">
            <i class="fas fa-circle tanColor"></i>
            <i class="fas fa-circle chocolateColor"></i>
            <i class="fas fa-circle blackColor"></i>
            <i class="fas fa-circle whiteColor"></i>
          </div>
          <label for="colors">Choisir sa couleur </label>
          <select name="colors" id="colors">
            <option value="firstChoice">Tan</option>
            <option value="secondChoice">Chocolate</option>
            <option value="thirdChoice">Black</option>
            <option value="fourthChoice">White</option>
          </select>
        </div>
        <input class="addButton" type="button" value="Ajouter au panier">
      </section>
    </article>
  </main>
  <%- include("../partials/footer.html"); %>
</body>
</html>